app-table.c-coverage-life-form .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin-bottom: 0 !important;
}

app-table.c-coverage-life-form .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.container-button {
    text-align: right
}

.container-button button {
    margin-left: 10px
} 
