.blur-table-overlay {
    position: absolute;
    top: 0;
    left: 0;
    /*bottom: 56px;*/
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    // background: transparent !important;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active-row {
    background-color: rgba(0,0,0,.075);
  }

  .mat-row {
    cursor: pointer;
  }