<app-panel-form 
title="Cotizador Aeronavegación"
btnLabelPrimary="confirmar" 
btnLabelSecundary="Atras" 
[disabledBtnPrimary]="false"
[isDisabled]="!cotizarService.coberturasService.valid || cotizacionEmitida"
(eventActionPrimary)="finalizar()" 
classPanel="col-md-10 offset-md-1">
  <section class="divide-panel">

    <!--------------------------------------->
    <!-------- Datos Productor Panel -------->
    <!--------------------------------------->
    <app-sub-panel-form title="Datos Productor"  >
      <form 
        class="dynamic-form" 
        [formGroup]="cotizarService.datosProductorService.formGroup"> 
        <app-dynamic-form-content 
            class="row"
            [formConfig]="cotizarService.datosProductorService.formGroupConfig" 
            [formGroup]="cotizarService.datosProductorService.formGroup">
        </app-dynamic-form-content>
      </form>
    </app-sub-panel-form>


    <!--------------------------------------->
    <!-------- Datos TOMADOR Panel -------->
    <!--------------------------------------->
    <app-sub-panel-form title="Datos Tomador"  >
      <form class="dynamic-form" 
        [formGroup]="cotizarService.datosTomadorService.formGroup"> 
        <app-dynamic-form-content  
          class="row"
          [formConfig]="cotizarService.datosTomadorService.formGroupConfig" 
          [formGroup]="cotizarService.datosTomadorService.formGroup">
      </app-dynamic-form-content>
    </form>
    </app-sub-panel-form>

    <!----------------------------------------------->
    <!-------- Condiciones Comerciales Panel -------->
    <!----------------------------------------------->
    <app-sub-panel-form title="Condiciones y beneficios Comerciales"  >
      <form
        class="dynamic-form"
        [formGroup]="cotizarService.condicionesComercialesService.formGroup"> 
        <app-dynamic-form-content  
          class="row"
          [formConfig]="cotizarService.condicionesComercialesService.formGroupConfig" 
          [formGroup]="cotizarService.condicionesComercialesService.formGroup">
        </app-dynamic-form-content>
      </form>
    </app-sub-panel-form>

    <!----------------------------------------------->
    <!-------- Tipo de Riesgo ----------------------->
    <!----------------------------------------------->

 
    <app-sub-panel-form title="Tipo de Riesgo" *ngshow="false"  >
      <form
          class="dynamic-form"
          [formGroup]="cotizarService.riesgosService.tipoRiesgo.formGroup"> 
          <app-dynamic-form-content  
            class="row"
            [formConfig]="cotizarService.riesgosService.tipoRiesgo.formGroupConfig" 
            [formGroup]="cotizarService.riesgosService.tipoRiesgo.formGroup">
        </app-dynamic-form-content>
      </form>
    </app-sub-panel-form>

    <!----------------------------------------------->
    <!-------- Datos de Riesgo ----------------------->
    <!----------------------------------------------->

    <app-sub-panel-form title="Datos de Riesgo"  >
      <form
          class="dynamic-form"
          [formGroup]="cotizarService.riesgosService.datosRiesgo.formGroup"> 
          <app-dynamic-form-content  
            class="row"
            [formConfig]="cotizarService.riesgosService.datosRiesgo.formGroupConfig" 
            [formGroup]="cotizarService.riesgosService.datosRiesgo.formGroup">
        </app-dynamic-form-content>
      </form>
    </app-sub-panel-form>

    <!----------------------------------------------->
    <!-------- Productos ----------------------->
    <!----------------------------------------------->
    <app-sub-panel-form title="Productos"  >
      <form
          class="dynamic-form"
          [formGroup]="cotizarService.productosService.formGroup"> 
          <app-dynamic-form-content  
            class="row"
            [formConfig]="cotizarService.productosService.formGroupConfig" 
            [formGroup]="cotizarService.productosService.formGroup">
        </app-dynamic-form-content>
      </form>
    </app-sub-panel-form>

    <!----------------------------------------------->
    <!-------- Usos --------------------------------->
    <!----------------------------------------------->
    <app-sub-panel-form title="Usos"  *ngIf="showUsePanel"  >
      <form
          class="dynamic-form container"
          [formGroup]="cotizarService.usosService.formGroup"> 
          <app-dynamic-form-content  
            class="row"
            [formConfig]="cotizarService.usosService.formGroupConfig" 
            [formGroup]="cotizarService.usosService.formGroup">
        </app-dynamic-form-content>
      </form>
    </app-sub-panel-form>

    <!----------------------------------------------->
    <!-------- Coberturas --------------------------------->
    <!----------------------------------------------->

<!--     <app-sub-panel-form title="Productos"  >
      <form
          class="dynamic-form"
          [formGroup]="cotizarService.coberturasService.formGroup"> 
          <app-dynamic-form-content  class="row"
            [formConfig]="cotizarService.coberturasService.formGroupConfig" [formGroup]="cotizarService.coberturasService.formGroup">
        </app-dynamic-form-content>
      </form>
    </app-sub-panel-form> -->

    <app-sub-panel-form title="Coberturas"  >
      <form
        class="dynamic-form"
        [formGroup]="cotizarService.coberturasService.formGroup"> 
          <app-dynamic-form-content  
            class="row"
            [formConfig]="cotizarService.coberturasService.formGroupConfig" 
            [formGroup]="cotizarService.coberturasService.formGroup">
        </app-dynamic-form-content>
      </form>
    </app-sub-panel-form>

  </section>
</app-panel-form>
