<mat-nav-list class="c-cotizador-bottom-actions">

    <a mat-list-item class="c-cotizador-bottom-actions__item" (click)="openLink('Volver')">
      <div class="col-10">
        <span mat-line><h5>Volver</h5></span>
        <span mat-line>Seguir editando Propuesta</span>
      </div>
      <div class="col-2" align="end">
        <mat-icon>replay</mat-icon>
      </div>
    </a>

    <a mat-list-item class="c-cotizador-bottom-actions__item c-cotizador-bottom-actions__item--info" (click)="openLink('Guardar')">
      <div class="col-10">
        <span mat-line><h5>Guardar</h5></span>
        <span mat-line>Guardar datos actuales</span>
      </div>
      <div class="col-2" align="end">
        <mat-icon>save_alt</mat-icon>
      </div>
    </a>

    <a mat-list-item class="c-cotizador-bottom-actions__item c-cotizador-bottom-actions__item--success" (click)="openLink('Finalizar')">
      <div class="col-10">
        <div>
          <span mat-line><h5>Emitir</h5></span>
          <span mat-line>Emitir Propuesta</span>
        </div>
      </div>
      <div class="col-2" align="end">
        <mat-icon>check</mat-icon>
      </div>

    </a>

  </mat-nav-list>