<mat-form-field class="w-100 date-picker" [appearance]="controlAppearance">
    <mat-label>{{ controlOptions['label'] || controlOptions['label']['text'] }}</mat-label>
    <input matInput 
        [matDatepicker]="dp" 
        [formControl]="iFormControl"
        [required]="isRequired"
        placeholder="DD/MM/YYYY"
        (dateChange)="blurEvent($event)"
        [min]="controlOptions['control'].config?.min"
        [max]="controlOptions['control'].config?.max">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    touchUi
                    panelClass="">
    </mat-datepicker>
    <mat-error  *ngIf="iFormControl.errors?.required || isEmpty">
        Por favor complete este campo
    </mat-error>
    <mat-error  *ngIf="iFormControl.errors?.matDatepickerMin">
        La fecha debe ser mayor o igual a {{ moment(iFormControl.errors?.matDatepickerMin.min).format('DD/MM/YYYY') }}
    </mat-error>
    <mat-error  *ngIf="!isEmpty && iFormControl.errors?.matDatepickerParse?.text ">
        Formato de fecha inválido
    </mat-error>
</mat-form-field>