.list-header {
    text-align: right;
    display: grid;
    width: 100%;
}

mat-nav-list.list-horizontal {
    padding: 0;
    width: 100%;
    text-align: right;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }

  .header-background{
      background: transparent;
  }